/content/proposals/proc/* @TrueCloudLab/community-committee
/content/proposals/std/* @TrueCloudLab/architecture-committee
/content/proposals/info/* @TrueCloudLab/architecture-committee @TrueCloudLab/community-committee
